<div class="bg-gray-700 z-40 w-full text-white p-3 text-center shadow-md">
  <div class="flex justify-center space-x-4 text-lg font-mono">
    <div class="bg-black px-4 py-3 rounded-xl">
      <div class="text-3xl font-bold">{{ timeLeft.days }}</div>
      <div class="text-sm">días</div>
    </div>
    <div class="bg-black/10 px-4 py-3 rounded-xl">
      <div class="text-3xl font-bold">{{ timeLeft.hours }}</div>
      <div class="text-sm">horas</div>
    </div>
    <div class="bg-black/10 px-4 py-3 rounded-xl">
      <div class="text-3xl font-bold">{{ timeLeft.minutes }}</div>
      <div class="text-sm">min</div>
    </div>
    <div class="bg-black/10 px-4 py-3 rounded-xl">
      <div class="text-3xl font-bold">{{ timeLeft.seconds }}</div>
      <div class="text-sm">seg</div>
    </div>
  </div>
</div>
